{% extends 'base.html' %}

{% block subtitle %}Secret{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            {% if flag %}
                <div class="card mb-4">
                    <div class="card-body">
                        <p>{{flag}}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}